@{ 
    string date = @Model.Due?.ToString("M/dd/yyyy");
    decimal total = Decimal.Round(@Model.Total,2);
    string [] options = new string[] {"Action Needed","Remove"};
    string status = "Action Needed";
}

<tr id = 'Bill_Row'>
    <td>@date</td>
    <td>@Model.Type</td>
    <td>@total</td>
    <td class = 'flex'>
        <select>
        @{
            foreach(var action in @options){
                if(@action == @status)
                {
                    <option selected>@action</option>
                }
                else 
                {
                    <option>@action</option>

                }
            }
        }
        </select>
        
    </td>
</tr>